.btn {
  margin: 5px;
}

/* .array-container {
  display: flex;
  justify-content: center;
} */
.bars {
  display: flex;
  justify-content: center;
}

.bar {
  background-color: rgb(122, 112, 112);
  margin: 2px;
  width: 5px;
  z-index: 3;
}
